/* ZoomMeeting.css */
.zoom-wrapper {
    position: relative;
    z-index: 1;
  }
  
  /* Fix Zoom overlay styles */
  #zmmtg-root {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999; /* ensure it's above app, but doesn't block unmounted views */
    width: 100vw;
    height: 100vh;
  }
  